<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class='field'>
		<%= f.hidden_field :beer_id, value: params[:beer_id] %>
		<%= f.hidden_field :beer_me_search_id, value: params[:beer_me_search_id] %>
	</div>
  <div class="field">
    <%= f.label :score, 'How would you rate this beer?' %><br />
		<% 5.times do |i| %>
			<%= f.radio_button :score, "#{i + 1}", :class => 'star' %>
		<% end %>
  </div><br/><br/><br/>
  <div class="field">
    <%= f.label :story, 'What\'s your story behind this beer?' %><br />
    <%= f.text_area :story, rows: 4 %><br/>
  </div>
  <div class="field">
    <%= f.label :overall, 'What was your overall impression?' %><br />
    <%= f.text_area :overall, rows: 2 %>
  </div>
	<br/><br/>
	<h3>Describe your beer's...</h3>
	<br/>
  <div class="field">
    <%= f.label :smell %><br />
    <%= f.text_area :smell, rows: 2 %>
  </div>
  <div class="field">
    <%= f.label :look %><br />
    <%= f.text_area :look, rows: 2 %>
  </div>
  <div class="field">
    <%= f.label :taste %><br />
    <%= f.text_area :taste, rows: 2 %>
  </div>
  <div class="field">
    <%= f.label :feel %><br />
    <%= f.text_area :feel, rows: 2 %>
  </div>
	<br/>
  <div class="actions">
    <%= f.submit 'Rate', class: 'btn btn-large btn-primary' %>
  </div>
<% end %>
