<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :score %><br />
    <%= f.number_field :score %>
  </div>
  <div class="field">
    <%= f.label :smell %><br />
    <%= f.text_area :smell, rows: 2 %>
  </div>
  <div class="field">
    <%= f.label :look %><br />
    <%= f.text_area :look, rows: 2 %>
  </div>
  <div class="field">
    <%= f.label :taste %><br />
    <%= f.text_area :taste, rows: 2 %>
  </div>
  <div class="field">
    <%= f.label :feel %><br />
    <%= f.text_area :feel, rows: 2 %>
  </div>
  <div class="field">
    <%= f.label :overall %><br />
    <%= f.text_area :overall, rows: 2 %>
  </div>
  <div class="field">
    <%= f.label :story %><br />
    <%= f.text_area :story, rows: 3 %><br/>
  </div>
  <div class="actions">
    <%= f.submit 'Rate', class: 'btn btn-large btn-primary' %>
  </div>
<% end %>
