<h1>Listing ratings</h1>

<table>
  <tr>
    <th>Rating</th>
    <th>Smell</th>
    <th>Look</th>
    <th>Taste</th>
    <th>Feel</th>
    <th>Overall</th>
    <th>Story</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ratings.each do |rating| %>
  <tr>
    <td><%= rating.rating %></td>
    <td><%= rating.smell %></td>
    <td><%= rating.look %></td>
    <td><%= rating.taste %></td>
    <td><%= rating.feel %></td>
    <td><%= rating.overall %></td>
    <td><%= rating.story %></td>
    <td><%= link_to 'Show', rating %></td>
    <td><%= link_to 'Edit', edit_rating_path(rating) %></td>
    <td><%= link_to 'Destroy', rating, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rating', new_rating_path %>
