<div class='well'>
<h2><%= @beer.name %> <span class='grey'><%= link_to 'Edit', edit_rating_url(@rating.id) %></span></h2>
<% if @beer.brewery.present? %>
	<h3><%= @beer.brewery.name %></h3>
	<h3><%= @beer.brewery.city %>, <%= @beer.brewery.state %>, <%= @beer.brewery.country %></h3>
<% end %>
<br/>
<p>
  <b>Rating</b><br/>
  <%= @rating.score %>
</p>

<p>
  <b>The Story Behind the Beer</b><br/>
  <%= @rating.story %>
</p>
<p>
  <b>Overall</b><br/>
  <%= @rating.overall %>
</p>
<p>
  <b>Smell</b><br/>
  <%= @rating.smell %>
</p>

<p>
  <b>Look</b><br/>
  <%= @rating.look %>
</p>

<p>
  <b>Taste</b><br/>
  <%= @rating.taste %>
</p>

<p>
  <b>Feel</b><br/>
  <%= @rating.feel %>
</p>





</div>