<div id='beer_me_form'>
	Params: <%= params %>
	Q: <%= params[:q] %><br/>
	Rarity: <%= params[:rarity] %><br/>
	Draft: <%= params[:draft] %>
	<%= search_form_for @q, url: beers_url(:bar_id => params[:bar_id], :rarity => params[:rarity], :draft => params[:draft]), remote: true do |f| %>
		<div class='column'>
			<h3>
				Style
			</h3>
			<div id='select_section'>
				<%= f.select(:style_cont, @styles, include_blank: true, id: 'beer_select') %><br/>
			</div>
		</div>
		<div class='column'>
			<h3>
				Characteristics
			</h3>
			<div id='checkbox_section'>		
				<% Beer.characteristics.each do |char| %>
					<% if params[:q] && params[:q][Beer.search_term(char)] == "1" %>
						<%= f.label Beer.search_term(char), "#{Beer.label(char)} (#{Beer.number_of_beers(@available_beer, char)})", class: 'checked', id: "label_#{Beer.search_term(char)}" %>
						<%= f.check_box Beer.search_term(char), style: 'visibility:hidden' %>						
					<% elsif @available_beer && Beer.number_of_beers(@available_beer, char) > 0 %>
						<%= f.label Beer.search_term(char), "#{Beer.label(char)} (#{Beer.number_of_beers(@available_beer, char)})", class: 'button', id: "label_#{Beer.search_term(char)}" %>
						<%= f.check_box Beer.search_term(char), style: 'visibility:hidden' %>
					<% else %>
						<%= f.label Beer.search_term(char), "#{Beer.label(char)} (#{Beer.number_of_beers(@available_beer, char)})", class: 'disabled', id: "label_#{Beer.search_term(char)}" %>
						<br/><br/>
					<% end %>					
				<% end %>
			</div>
		</div>
		<div class='column'>
			<h3>
				Options
			</h3>
			<br/>
			<div class='order'>
				<% if params[:rarity] == "true" %>
					<%= link_to 'Rarest', beers_url(:bar_id => params[:bar_id], :q => params[:q], :rarity => false, :draft => params[:draft] ), remote: true, id: 'rarity_true' %>
				<% else %>
					<%= link_to 'Rarest', beers_url(:bar_id => params[:bar_id], :q => params[:q], :rarity => true, :draft => params[:draft] ), remote: true, id: 'rarity_false' %>			
				<% end %>
				<% if params[:draft] == "true" %>
					<%= link_to 'Draft', beers_url(:bar_id => params[:bar_id], :q => params[:q], :rarity => params[:rarity], :draft => false ), remote: true, id: 'draft_true' %>
				<% else %>
					<%= link_to 'Draft', beers_url(:bar_id => params[:bar_id], :q => params[:q], :rarity => params[:rarity], :draft => true ), remote: true, id: 'draft_false' %>			
				<% end %>
			</div>
		</div>
		<div class='floor'>
		 <%= f.submit 'Beer Me', style: 'visibility: hidden;' %>
		 <%= link_to 'Beer Me', recommendation_url(:available_beer => @available_beer.collect { |beer| beer.id }, :rarity => params[:rarity], :bar_id => params[:bar_id], :draft => params[:draft]) %>
		 or <%= link_to 'Reset', beers_url(:bar_id => params[:bar_id]) %>
		</div>
	<% end %>
</div>