<div id='beer_me_form'>

	<div class='row'>
	<%= search_form_for @q, url: beers_url(:bar_id => params[:bar_id], :rarity => params[:rarity], :draft => params[:draft]), remote: true do |f| %>
		<div class='span4'>
			<h3>Style</h3>
			<div id='select_section'>
				<%= f.select(:style_cont, @styles, include_blank: true, id: 'beer_select') %><br/>
			</div>
			<h3>Options</h3>
			<br/>
				<% if params[:rarity] == "true" %>
					<%= link_to 'Rarity', beers_url(:bar_id => params[:bar_id], :q => params[:q], :rarity => false, :draft => params[:draft] ), remote: true, id: 'rarity_true', class: 'btn btn-danger', rel: 'popover', 'data-original-title' => 'Rarity', 'data-content' => 'Select to order your results from most rare to least rare.' %>
				<% else %>
					<%= link_to 'Rarity', beers_url(:bar_id => params[:bar_id], :q => params[:q], :rarity => true, :draft => params[:draft] ), remote: true, id: 'rarity_false', class: 'btn btn-warning', rel: 'popover', 'data-original-title' => 'Rarity', 'data-content' => 'Select to order your results from most rare to least rare.' %>			
				<% end %>
				<% if params[:draft] == "true" %>
					<%= link_to 'Draft', beers_url(:bar_id => params[:bar_id], :q => params[:q], :rarity => params[:rarity], :draft => false ), remote: true, id: 'draft_true', class: 'btn btn-danger', rel: 'popover', 'data-original-title' => 'Draft', 'data-content' => 'Select to only be recommended beers that are served on draft.' %>
				<% else %>
					<%= link_to 'Draft', beers_url(:bar_id => params[:bar_id], :q => params[:q], :rarity => params[:rarity], :draft => true ), remote: true, id: 'draft_false', class: 'btn btn-warning', rel: 'popover', 'data-original-title' => 'Draft', 'data-content' => 'Select to only be recommended beers that are served on draft.' %>			
				<% end %>
		</div>
		<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Characteristics</h3>	
		<% x = [ 0, 8, 16, 24 ] %>
		<% x.each do |x| %>
		<div class='span2'>
			<% Beer.characteristics.sort.slice(x, 8).each do |char| %>
				<% if params[:q] && params[:q][Beer.search_term(char)] == "1" %>
					<%= f.label Beer.search_term(char), "#{Beer.label(char)}", class: 'checked btn btn-danger', id: "label_#{Beer.search_term(char)}" %>
					<%= f.check_box Beer.search_term(char), style: 'visibility:hidden' %>						
				<% elsif @available_beer && Beer.number_of_beers(@available_beer, char) > 0 %>
					<%= f.label Beer.search_term(char), "#{Beer.label(char)}", class: 'button btn btn-warning', id: "label_#{Beer.search_term(char)}" %>
					<%= f.check_box Beer.search_term(char), style: 'visibility:hidden' %>
				<% else %>
					<%= f.label Beer.search_term(char), "#{Beer.label(char)}", class: 'disabled btn ', id: "label_#{Beer.search_term(char)}" %>
					<br/><br/>
				<% end %>				
			<% end %>
		</div>
		<% end %>
	</div>
	<br/>
	<div class='row'>
		<div class='span12'>
		 	<%= link_to 'Beer Me', recommendation_url(:available_beer => @available_beer.collect { |beer| beer.id }, :rarity => params[:rarity], :bar_id => params[:bar_id], :draft => params[:draft]), class: 'btn btn-large btn-primary pull-left' %>
			<%= f.submit 'Beer Me', style: 'visibility: hidden;' %>
		</div>
	</div>
	<% end %>
	<br/>
	Params: <%= params %><br/>
	Q: <%= params[:q] %><br/>
	Rarity: <%= params[:rarity] %><br/>
	Draft: <%= params[:draft] %>
	<br/><br/>
</div>