<h2>What are you in the mood for?</h2>

<%= search_form_for @q, url: recommendation_url, method: :post do |f| %>
	<div class='column'>
		<h3>
			Style
		</h3>
		<%= f.select(:style_cont, @styles, include_blank: true) %><br/>
	</div>
	<div class='column'>
		<h3>
			Characteristics
		</h3>
			<% @search_characteristics.each do |key, value| %>
				<%= f.label key, value, class: 'button', id: "label_#{key}" %>
				<%= f.check_box key, style: 'visibility: hidden' %>
			<% end %>
	</div>
	<div class='floor'>
		<%= f.submit 'Beer Me', class: 'button' %>
	</div>
<% end %>


	