<h2>What are you in the mood for?</h2>

<%= search_form_for @q, url: recommendation_url, method: :post do |f| %>
	<div class='column'>
		<h3>
			Style
		</h3>
		<%= f.select(:style_cont, @styles, include_blank: true) %><br/>
	</div>
	<div class='column'>
		<h3>
			Characteristics
		</h3>
			<% @characteristics_array.each do |char| %>
				<% char.each do |name, desc| %>
					<% if desc[:number_of_beers] > 0 %>
						<%= f.label desc[:search_term], desc[:label], class: 'button', id: "label_#{desc[:search_term]}" %>
						<%= f.check_box desc[:search_term], style: 'visibility:hidden' %>
					<% else %>
						<%= f.label desc[:search_term], desc[:label], class: 'disabled', id: "label_#{desc[:search_term]}" %>
						<br/><br/>
					<% end %>
					
				<% end %>
			<% end %>
	</div>
	<div class='floor'>
		<%= f.submit 'Beer Me', class: 'button' %>
	</div>
<% end %>
<hr/>
<% @characteristics_array.each do |char| %>
	<% char.each do |name, desc| %>
		<li><%= desc[:label] %>: <%= desc[:number_of_beers] %> beers remaining.</li>
	<% end %>
<% end %>

	