<% if @beers.present? %>
<div class='row'>
<div class="span12 ">
	<div class="well ">
		<div class="">
		<% if @beers.count == 1 %>
			<h3>Based on what you chose, we think you'd like this one.</h3>	
		<% elsif @beers.count > 1 %>
			<h3>
				Scroll through to view the beers that match what you chose 
				or <%= link_to 'search again', "/preference?bar_id=#{params[:bar_id]}" %>.
			</h3>
		<% end %>
		</div>
	</div>
</div>
</div>
	<div id="myCarousel" class="carousel slide">
	  <!-- Carousel items -->
	  <div class="carousel-inner">
			<% @beers.each do |beer| %>
		  	<% if @beers.first == beer %>
					<div class="item active">
				<% else %>
					<div class="item">
				<% end %>
					<div class='beer_carousel'>
						<div class='span4 offset1 mobile'>
							<%= image_tag 'glowing_beer.jpg', class: 'glowing_beer', height: 250 %>
						</div>
						<div class='span4 offset1 beer_text'>
							<div class='beer_information'>
								<h1><%= beer.name %> <%= "(#{beer.abv}%)" if beer.abv %></h1>
								<% if beer.brewery.present? %>
									<h2><%= beer.brewery.name %></h2>
									<h2><%= beer.brewery.city %>, <%= beer.brewery.state %>, <%= beer.brewery.country %></h2>
								<% end %>
								<br/>
								<div class='facts'>
									<p>
										Style: <%= beer.style %>
									</p>
									<div class='beer_characteristics'>
										<% if beer.has_characteristics.present? %>
											<p>Characteristics:</p>
											<ul>
												<% beer.has_characteristics.sort.each do |char| %>
													<li><%= char %></li>
												<% end %>
											</ul>
										<% end %>
									</div>
								</div>
								<div class='beer_experience'>
									<p>
										Rarity:
										<% rarity_score = beer.beer_experiences[0].rarity %>
										<% rarity_remainder = 5 - rarity_score %>
										<% rarity_score.times do %>
											<%= image_tag('beer.png', height: 20, class: 'icon') %>
										<% end %>
										<% rarity_remainder.times do %>
											<%= image_tag('beer.png', height: 20, class: 'icon non-rare') %>
										<% end %>
										
									</p>
									<p>
										<%= "Available on Draft" if beer.beer_experiences[0].draft == 1 %>
									</p>
								</div>
							</div>
		    		</div>
						<div class='span1 rating_button'>
						<% if @current_member.present? %>
							<%= link_to 'Rate', new_rating_url(:beer_id => beer.id, :beer_me_search_id => params[:beer_me_search_id]), class: 'btn btn-large btn-primary' %>
						<% else %>
							<div class='sign_in_to_rate'>
								<%= link_to 'Sign In to Rate', sign_in_url, class: 'btn btn-large btn-primary ' %>
							</div>
						<% end %>
						</div>
					</div>
		    </div>
			<% end %>
	  </div>
		<%# Only show pagination and previous/next if there is more than one beer. %>

		<%= render 'beer_me/pagination_rules' %>
	</div>
	
<% else %>
	<h2>Sorry, there were no beers that matched your requirements.</h2>
<% end %>