<% if @beers.present? %>
	<% @beers.each do |beer| %>
		<h2><%= beer.name %> <%= "(#{beer.abv}%)" if beer.abv %></h2>
		<h3><%= beer.brewery.name %></h3>
		<h3><%= beer.brewery.city %>, <%= beer.brewery.state %>, <%= beer.brewery.country %></h3>
		<br/>
		<p>
			Style: <%= beer.style %>
		</p>
		<p>
			<% if beer.characteristics.present? %>
				Characteristics:
				<% beer.characteristics.sort.each do |char| %>
				<li><%= char %></li>
				<% end %>
			<% end %>
		</p>
	<% end %>
<% else %>
	<h2>Sorry, there were no beers that matched your requirements.</h2>
<% end %>