<% if @beers.present? %>
	<script type="text/javascript">
	    $(function(){
	        $("div#beer_recommendation_list").carousel( { direction: 'vertical', loop: true, dispItems: 1, pagination: true, paginationPosition: 'inside', effect: 'slow', btnsPosition: 'inside', animSpeed: "slow" });
	    });
	</script>

	<div id='beer_recommendation_list'>
		<ul>
			<% @beers.each do |beer| %>
				<li>
					<%= link_to image_tag 'glowing_beer.jpg', class: 'glowing_beer' %>
					<div class='beer_information'>
						<span class='beer_name'><%= beer.name %> <%= "(#{beer.abv}%)" if beer.abv %></span>
						<span class='beer_brewery'><%= beer.brewery.name %></span>
						<span><%= beer.brewery.city %>, <%= beer.brewery.state %>, <%= beer.brewery.country %></span>
						<br/>
						<span>
							Style: <%= beer.style %>
						</span>
						<div class='beer_characteristics'>
							<% if beer.characteristics.present? %>
								Characteristics:<br/>
								<% beer.characteristics.sort.each do |char| %>
									<%= char %><br/>
								<% end %>
							<% end %>
						</div>
					</div>
				</li>
			<% end %>
		</ul>
	</div>

<% else %>
	<h2>Sorry, there were no beers that matched your requirements.</h2>
<% end %>