<div class='row'>
	<div class='span12'>
		<h2>Contact Us</h2>
	</div>
</div>
<div class='row'>
	<div class='span6'>
		<br/>
		<p>Tell us how we can improve your beer discovery experience!</p>

		<%= form_for @inquiry, :url => '/contact_us' do |f| %>

			<%= f.label :name %>
			<%= f.text_field :name %><br/><br/>

			<%= f.label :email, 'E-mail' %>
			<%= f.text_field :email %><br/><br/>

			<%= f.label :message %>
			<%= f.text_area :message %><br/><br/>

			<%= f.submit 'Send', :class => 'btn btn-primary' %>

		<% end %>
		<br/><br/><br/>
	</div>

	<div class='span6'>
		<%= link_to image_tag('three_champion.jpg') %>
	</div>
</div>