<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
		<div class='container'>
			<header>
				<div class='beeronhead'>
					<ul class='nav pull-left'>
						<li><%= link_to 'BeerOn', root_url, id: 'apptitle' %><li>
					</ul>
					<% if @current_member %>
						<ul class="nav pull-right">
						  <li class="dropdown">
						    <a href="<%= member_url(@current_member.id) %>" class="dropdown-toggle" data-toggle="dropdown", id='userid'>
						    	<%= @current_member.name %>
						      <b class="caret"></b>
						    </a>
						    <ul class="dropdown-menu">
						    	<li><%= link_to 'Profile', member_url(@current_member.id) %></li>
									<li><%= link_to 'Update Profile', edit_member_url(@current_member.id) %></li>
									<li><%= link_to 'Sign Out', sign_out_url %></li>
						    </ul>
						  </li>
						</ul>
					<% else %>
						<ul class='nav pull-right non_signed_in_user'>
							<li><%= link_to "Sign In", new_session_url %></li>
							<li><%= link_to "Sign Up", new_member_url %></li>
						</ul>
					<% end %>
					</ul>
				</div>
				<br/><br/><br/>
				<div class='beer_progress'>
					<div class='row-fluid'>
						<div class='span12'>										
							<ul>
								<div class='span4'>
								  <li>
								    <%= link_to '1. Choose your bar.', location_url, class: @location_link %>
								  </li>
								</div>
								<div class='span4'>
									<li>
								    <%= link_to '2. What would you like?', '#', class: @preference_link %>
								  </li>
								</div>
								<div class='span3'>
								  <li>
								    <%= link_to '3. Recommendation', '#', class: @recommendation_link %>
								  </li>
								</div>
							</ul>
						</div>
					</div>
				</div>
			</header>
		</div>
  </div>
</div>