<!DOCTYPE html>
<html>
<head>
  <title>BeerOn</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="cf">
		<div class='beeronhead'>
			<a id='apptitle'>BeerOn</a>
			<a id='userid'>"User-Name"</a>
		</div>
		<nav>
			<a href='#'>Location</a>
			<% if @current_member %>
				<a href='#'>Profile</a>
				<%= link_to "Sign Out", sign_out_url %>
			<% else %>
				<%= link_to "Sign Up", new_member_url %>
				<%= link_to "Sign In", new_session_url %>
			<% end %>
			<a href='#'>Contact Us</a>
		</nav>
	</header>
	<div class='content'>
		<% if flash[:notice] %>
			<%= flash[:notice] %>
		<% end %>
		<%= yield %>
	</div>
	<footer>
		<p class='menu'>
			<a href="#">About Us</a>
			<a href="#">How It Works</a>
			<a href="#">@BeerOn2012</a>
		</p>
	</footer>
</body>
</html>
