<%= form_for(@member) do |m| %>
	<% if @member.errors.any? %>
		<div class="alert alert-error">
			<br/>
			<p class='alert-heading'>
				Yikes! Something went wrong...
			</p>
			<ul>
				<% @member.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>.
				</li><% end %>
			</ul>
		</div>
		<br/>
			<% end %>
		  <div class="field">
		    <%= m.label :name, 'Name' %><br />
		    <%= m.text_field :name %>

		  </div>
		  <div class="field">
		    <%= m.label :email %><br />
		    <%= m.text_field :email %>
		  </div>
			<% if @member.new_record? %>
			  <div class="field">
			    <%= m.label :password %><br />
			    <%= m.password_field :password %>
			  </div>
			  <div class="field">
			    <%= m.label :password_confirmation, 'Confirm Password' %><br />
			    <%= m.password_field :password_confirmation %>
			  </div>
			<% end %>
			<br/>
		  <div class="actions">
				<% if @member.new_record? %>
		    	<%= m.submit 'Beer Me!', class: 'btn btn-large btn-primary' %>
		  	<% else %>
					<%= m.submit 'Update', class: 'btn btn-large btn-primary' %>
				<% end %>
			</div>

	
	<% end %>