<div class='row'>
	<div class='span6'>
		<div class='pull-left'>
		  <%= gravatar_for @member, size: 150 %><br/><br/>
		  <h2><%= @member.name %></h2>
		  <h3><%= @member.email %></h3>
			<br/><br/>
		</div>
	</div>
	<div class='span6'>
		<div class='pull-right'>
			<h2>Twitter Feed</h2>
			<br/>
			<% @tweets.each do |tweet| %>
				<h3><%= link_to tweet[:from_user_name], "https://twitter.com/#!/#{tweet[:from_user]}" %> @<%= tweet[:from_user] %></h3>
				<p><%= tweet[:text] %></p>
				<p><%= tweet[:created_at] %></p>
				<hr/>
			<% end %>
		</div>
	</div>
</div>