<div class='row'>
	<div class='span6'>
		<div class='member_info'>
		  <%= gravatar_for @member, size: 150 %><br/><br/>
		  <h2><%= @member.name %></h2>
		  <h3><%= @member.email %></h3>
			<br/><br/>
		</div>
	</div>
	<div class='span6'>
		<div class='ratings'>
			<h2>Ratings History</h2>
			<br/>
			<% @ratings.each do |rating| %>
				<h3>
					<%= link_to rating.beer.name, rating_url(rating.id) %>
					<% if rating.score %> 
						<span class='rating_score_on_profile'>
							<% rating.score.times do %>
								 <i class="icon-star"> </i>
							<% end %>
						</span>
					<% end %>
				</h3>
				<br/>
				<p class='grey'>
					<%= time_ago_in_words(rating.created_at) %> ago.
					<span class='grey'><%= link_to '<i class="icon-pencil"> </i>'.html_safe, edit_rating_url(rating.id, :beer_id => rating.beer.id) %></span>
					<span class='grey'><%= link_to '<i class="icon-trash"> </i>'.html_safe, rating_url(rating.id), method: :delete, confirm: 'Are you sure you want to delete your rating?' %></span>
				</p>
				<div class='span6'></div><hr/>
			<% end %>
			<%= will_paginate @ratings %>
		</div>
	</div>
</div>