<div class='row'>
	<div class='span6'>
		<div class='pull-left'>
		  <%= gravatar_for @member, size: 150 %><br/><br/>
		  <h2><%= @member.name %></h2>
		  <h3><%= @member.email %></h3>
			<br/><br/>
		</div>
	</div>
	<div class='span6'>
		<div class='pull-right'>
			<h2>#beeron2012 Feed</h2>
			<br/>
			<div class='tweets'>
				<% @tweets.each do |tweet| %>
					<h3>
						<%= link_to tweet[:from_user_name], "https://twitter.com/#!/#{tweet[:from_user]}" %> 
						<span class='grey'>@<%= tweet[:from_user] %></span>
					</h3>
					<p><%= tweet[:text] %></p>
					<p class='grey'><%= time_ago_in_words(tweet[:created_at]) %> ago.</p>
					<hr/>
				<% end %>
			</div>
		</div>
	</div>
</div>